.bg-images{
  text-align: center;
}
.bg-images img{
  width:800px;
  object-fit: cover;
}
.bg-images{
  background-color: #777070;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-head-of-products{
  color:black;
  padding-top:100px;
  text-align: center;
}
.colored-word{
  color:#f84258;
}
.colored-word-bigger-size{
  color:#f84258;
  font-size:35px;
}
.bigletter{ 
  font-size: 80px;
}
.header-categories{
  text-align: center;
  padding-top:200px;
  font-size:23px;
  color:black;  
}
.info-of-head{
  text-align: center;  
}
.products-hr{
  border: 1px solid black;
  width:100%;
}

.btn-of-img{
  border:none;
  position: absolute;
}
.sry-msg{
  color:black;
  text-align:center;
  padding-bottom:20px;
} 

.cart-details{
  padding-left:50px;
}
.cart-details li{
  list-style-type:decimal;

}
.head-of-cart{
  color:#f84258;

}
.hr-of-cart-head{
  border: 1px solid black;
  width:120px;
}
.msg-ps{
  color:black;
}
.last-hr-of-product{
  border: 1px solid black;
  width:70%;
}
.btn-clear-list{
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  border:none;
}
.btn-clear-list:hover{
  background-color: #060606;
}
.ul_pr li{
  font-size:18px;
}
img{
  cursor: pointer;
}

.card-body .item-title{
  color: #060606;
}
.card-body .item-price{
  color: #060606;
}

.btn-dark {
  
  margin: 40px;
}

.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}
